name: maison_de_mariage
description: Maison de Mariage - MVP
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.5
  flutter_secure_storage: ^8.0.0
  provider: ^6.0.5
  image_picker: ^0.8.6
  socket_io_client: ^2.0.0
  uuid: ^3.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
